.login-container {
    background-image: url('../Imagenes/background-login.png');
    background-size:cover;
}

.image-login {
    width: 20em;
    height: 15em;
    object-fit: cover;
}

.section-text-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0em 2em 0em;
}

.section-bton-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0em 2em 0em;
}
