.myprofile-container {
    background-image: url('../Imagenes/background-myprofile.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .container {
    margin: 0em 2em 0em 2em;
} */

.avatar-user {
    width: 10em;
    object-fit: cover;
    margin: 4em 0em 0em 2em;
}

.section-profile-description {
    display: inline-flex;
}

.text-description {
    margin: 100px 0px 40px 0px;
}

.group-profile {
    margin: 0px 40px 0px 40px;
}

.group-message {
    margin: 0px 40px 0px 40px;
}

.user-profile {
    width: 10em;
    object-fit: contain;
}

.ver-mas {
    display: flex;
    justify-content: end;
    margin: 0px 0px 30px 0px;
} 

.text-messages-myprofile {
    border-style: ridge;
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 20em;
    height: 5em;
    padding: 7px;
    box-sizing: border-box;
    line-break: anywhere;
}
