.container-writerprofile{
    background-image: url('../Imagenes/background-profile-writer.png');
    background-size:cover;
}

.section-info-writer {
    display: inline-flex;
    margin: 1em 1em 0em 0em;
}

.writer-text {
    margin: 0em 0em 0.5em 0em;
    font-weight: 500;
}

.avatar-writer {
    width: 10em;
    object-fit: contain;
}

.rating-writer{
    width: 5em;
    object-fit: contain;
    margin: 0em 0em 0em 0em;
}

.bton-writer {
    background-color: #EB8C15;
    width: 80px;
    height: 30px;
    border-color: #FDF6F9;
    border-radius: 15px;
}
.section-user-rating {
    display: inline-flex;
}

.avatar-user-rating {
    width: 5em;
    object-fit: contain;
}

.ver-mas {
    display: flex;
    justify-content: end;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
} 

.share-file {
    width: 6em;
    object-fit: contain;
    margin: 0;
}

.text-messages {   border-style:ridge;
background-color: #D9D9D9;
border-radius: 15px;
width: 17em;
height: 2.5em;
padding: 3px 5px 0px 5px;
margin: 1em 0em 0em 0em;
}
