.container-writerprofile{
    background-image: url('../Imagenes/background-profile-writer.png');
    background-size:cover;
}

.section-info-writer {
    display: inline-flex;
    margin: 60px 10px 0px 0px;
}

.writer-text {
    margin: 15px 0px 10px 0px;
    font-weight: 500;
    font-size: 1em;
}

.avatar-writer {
    width: 10em;
    object-fit: contain;
}

.section-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 30px 20px 0px;
}

.rating-writer{
    width: 5em;
    object-fit: contain;
}

.bton-writer {
    background-color: #EB8C15;
    width: 80px;
    height: 30px;
    border-color: #FDF6F9;
    border-radius: 15px;
}

.section-user-rating {
    display: inline-flex;
}

.avatar-user-rating {
    width: 5em;
    object-fit: contain;
}

.ver-mas {
    justify-content: end;
} 

.professional-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 20px 0px;
}

.text-messages-rating {
    border-style:ridge;
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 17em;
    height: 2.5em;
    padding: 5px;
    box-sizing: border-box;
}

.text-messages-writer {   
    border-style:ridge;
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 22em;
    height: 5em;
    padding: 5px;
    box-sizing: border-box;
}

.share-file {
    width: 6em;
    object-fit: contain;
    margin: 0;
}
